@import '../app/App.scss';
.why {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 180px;
    padding-bottom: 100px;
    &__header {
        font-size: 48px;
    }
    &__overlay {
        width: 100%;
        position: relative;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        &-icon {
            width: 180px;
            height: 180px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 100px;
            &.find {
                background: url('../../images/why1.png'), #1aa0903b;
                background-repeat: no-repeat;
                background-position: center;
            }
            &.price {
                background: url('../../images/why2.png'), #1aa0903b;
                background-repeat: no-repeat;
                background-position: center;
            }
            &.quick {
                background: url('../../images/why3.png'), #1aa0903b;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &-header {
            font-size: 26px;
        }
        &-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 170%;
            text-align: center;
            width: 80%;
        }
    }
    &__pattern {
        position: absolute;
        left: 0;
        top: 280px;
    }
}