@import '../app/App.scss';

.welcome__left {
    > h1 {
        text-transform: capitalize;
        font-size: 68px;
        margin: 0;
    }
    > p {
        font-size: 18px;
        margin-bottom: 60px;
    }
}
.filter {
    position: relative;
    background-color: $white;
    color: #121B25;
    height: 100px;
    width: calc(100% + 20%);
    z-index: 10;
    padding: 5px;
    &__item {
        width: 35%;
        padding: 25px 35px;
        & p {
            font-weight: 600;
            font-size: 18px;
            margin-top: 5px;
            text-transform: capitalize;

        }
    }
    &__item-btn {
        color: #858585;
        border: none;
        background-color: transparent;
        padding: 0;
        &::after {
            content: url('../../images/angle-down.png');
            margin-top: 5%;
            margin-left: 5px;
        }
    }
    &__btn {
        width: 22%;
    }
    &__btn > .button{
        width: 100%;
        height: 100%;
        font-size: 24px;
        font-weight: 500;
    }
}
.vertical {
    border-right: solid 1px #E8E8E8;
}
.custom__select {
    position: relative;

    &__control {
    position: absolute !important;
    top: -77px;
    width: 100%;
    visibility: hidden;
    cursor: pointer !important;
    }
    &__value-container {
    caret-color: transparent;
    }
    &__menu {
        position: absolute !important;
        top: -55px !important;
        border-radius: 0px !important;
        border: none !important;
        box-shadow: none !important;
    }
    &__option {
        cursor: pointer !important;
        &--is-focused {
            background-color: lighten($green, 50%) !important;
        }
        &--is-selected {
            background-color: $green !important;
            color: #000;
        }
    }
}
.overlay_pattern {
    position: absolute;
    right: 0;
    top: 570px;
}
